.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(90deg);
    position: absolute;
    left:0px;
    right: 0px;
    top: .8em;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: -100%;
    margin-left: .1rem;
    margin-right: .1rem;
}